.action-list__items {
    display: flex;
    align-items: flex-start;
    margin-bottom: 72px;
}

.action-list__icon {
    width: 48px;
    height: 48px;
    margin-right: 16px;
    background-color: $colorWhite;
    border-radius: 100%;
}

.action-list__title {
    font-size: 22px;
    line-height: 30px;
    color: $colorWhite;
}

.action-list__text {
    font-size: 18px;
    line-height: 26px;
    color: $colorWhite;
}