<ul class="action-list">
    <li class="action-list__items">
      <div class="action-list__icon"></div>
      <div class="action-list__info">
        <div class="action-list__title">
          Изучим ваш бизнес
        </div>
        <div class="action-list__text">
          в формате онлайн-звонков
          по Zoom или Skype
        </div>
      </div>
    </li>
    <li class="action-list__items">
      <div class="action-list__icon"></div>
      <div class="action-list__info">
        <div class="action-list__title">
          Поставим финучет
        </div>
        <div class="action-list__text">
          и обучим в рамках сервиса
          ПланФакт
        </div>
      </div>
    </li>
    <li class="action-list__items">
      <div class="action-list__icon"></div>
      <div class="action-list__info">
        <div class="action-list__title">
          Наладим планирование
        </div>
        <div class="action-list__text">
          и сделаем ваш бизнес прозрачным и предсказуемым
        </div>
      </div>
    </li>
  </ul>