<div class="feauters">
    <div class="feauters__item">
      <div class="feauters__icon">
      </div>
      <div class="feauters__title">
        Первое место в рейтинге и 765 отзывов
      </div>
      <div class="feauters__text">
        Лидер топ-100 сервисов для бизнеса
      </div>
      <div class="feauters__review">
        <!-- svg -->
        <p>4.9 средняя оценка </p>
      </div>
    </div>
    <div class="feauters__item">
      <div class="feauters__icon">
      </div>
      <div class="feauters__title">
        Поставили учет в 200+ компаниях в разных сферах
      </div>
      <div class="feauters__text">
        Готовы начать с вами уже сейчас
      </div>
      <div class="feauters__data">
        <p class="feauters__data-text">
            <span>16 экспертов</span> в области финансов</p>
      </div>
    </div>
  </div>