<section class="section">
  <div class="flex-block wrapper">
    <div class="flex-block__item slider"></div>
    <div class="flex-block__item">
      <div class="tagline">
        Финучет на аутсорсе
      </div>
      <div class="main-title">
        Экономьте время
        и деньги компании
      </div>
      <div class="main-screen__text">
        Наши финансовые директора и консультанты выстроят управленческий учет
        в рамках сервиса ПланФакт, обучат вас или ваших сотрудников, возьмут на себя всю рутину
      </div>
      <div class="btn-wrapper">
        <a class="btn" href="#">
          Оставить заявку
        </a>
        <a class="btn btn--light" href="#">
          Посмотреть тарифы
        </a>
      </div>
    </div>
  </div>
</section>
