<div class="order wrapper">
  <div class="order__top">
    <div class="order__top-item">
      <div class="main-title main-title--light">
        Приведем финансы
        бизнеса в порядок
      </div>
    </div>
    <div class="order__top-item">
      <div class="text text--light">
        Мы возьмем на себя всю рутину, а вы будете получать регулярные отчеты и рекомендации
        по росту компании
      </div>
    </div>
  </div>
  <div class="order__bottom">
    <div class="order__bottom-item">
        @include('feauters.html')
    </div>
    <div class="order__bottom-item">
        @include('action-list.html')
    </div>
  </div>
</div>
