<div class="pricing-plans wrapper">
  <div class="main-title main-title--center">
    Сколько это стоит
  </div>
  <div class="text text--center">
    Работать с нашим экспертом в разы выгоднее,
    чем нанимать такого сотрудника в штат
  </div>
  <ul class="pricing-plans-list">
    <li class="pricing-plans-list__item">
      <div class="pricing-plans-card">
        <div class="pricing-plans-card__title">
          Консультант
        </div>
        <div class="pricing-plans-card__price">
          14 900 <sup>&#8381;</sup><sub>/мес.</sub>
        </div>
        <ul class="pricing-plans-card__list">
          <li class="pricing-plans-card__list-item">
            4 консультации
          </li>
          <li class="pricing-plans-card__list-item">
            Помогает вносить данные
          </li>
          <li class="pricing-plans-card__list-item">
            Проверяет ведение учета
          </li>
        </ul>
        <a class="btn btn--light" href="#">
          Оставить заявку
        </a>
        <a class="pricing-plans-card__link link" href="#">
          Подробнее
        </a>
      </div>
    </li>
    <li class="pricing-plans-list__item">
      <div class="pricing-plans-card">
        <div class="pricing-plans-card__title">
          Помощник
        </div>
        <div class="pricing-plans-card__price">
          29 900 <sup>&#8381;</sup><sub>/мес.</sub>
        </div>
        <ul class="pricing-plans-card__list">
          <li class="pricing-plans-card__list-item">
            12 консультаций
          </li>
          <li class="pricing-plans-card__list-item">
            Вносит данные за вас
          </li>
          <li class="pricing-plans-card__list-item">
            Ведет учет сам
          </li>
          <li class="pricing-plans-card__list-item">
            Предоставляет отчеты
          </li>
        </ul>
            <a class="btn" href="#">
              Оставить заявку
            </a>
            <a class="pricing-plans-card__link link" href="#">
              Подробнее
            </a>
      </div>
    </li>
    <li class="pricing-plans-list__item">
      <div class="pricing-plans-card">
        <div class="pricing-plans-card__title">
          Финансист
        </div>
        <div class="pricing-plans-card__price">
          44 900 <sup>&#8381;</sup><sub>/мес.</sub>
        </div>
        <ul class="pricing-plans-card__list">
          <li class="pricing-plans-card__list-item">
            16 консультаций
          </li>
          <li class="pricing-plans-card__list-item">
            Вносит данные за вас
          </li>
          <li class="pricing-plans-card__list-item">
            Ведет учет сам
          </li>
          <li class="pricing-plans-card__list-item">
            Предоставляет отчеты
          </li>
        </ul>
            <a class="btn btn--light" href="#">
              Оставить заявку
            </a>
            <a class="pricing-plans-card__link link" href="#">
              Подробнее
            </a>
      </div>
    </li>
  </ul>
</div>
