<div class="wrapper">
  <div class="main-title main-title--center">
    Отзывы клиентов
  </div>
  <div class="text text--center">
    ПланФакт – сервис №1 по версии Startpack.ru.
    Более 600 клиентов поделились своим опытом внедрения финучета в рамках ПланФакта
  </div>
  <div class="review">
    <div class="review__item">
      <div class="review-card">
        <div class="review-card__top">
          <div class="review-card__avatar">
            <img src="../img/avatar1.png" alt="">
          </div>
          <div class="review-card__title">
            <div class="review-card__name">
              Денис Станицкий
            </div>
            <div class="review-card__profession">
              Предприниматель
            </div>
          </div>
        </div>
        <div class="review-card__text">
          Огромное спасибо Екатерине, которая целый месяц помогала разбираться в организации учета нашей компании.
        </div>
        <div class="review-card__social">
          <a href="#">
          </a>
          <a href="#">
          </a>
        </div>
      </div>
      <div class="review-card">
        <div class="review-card__top">
          <div class="review-card__avatar">
            <img src="../img/avatar2.png" alt="">
          </div>
          <div class="review-card__title">
            <div class="review-card__name">
              Анна Смелова
            </div>
            <div class="review-card__profession">
              Предприниматель
            </div>
          </div>
        </div>
        <div class="review-card__text">
          Выбрала ПланФакт среди остальных похожих сервисов, так как у него больше возможностей и человеческая
          поддержка.
        </div>
        <div class="review-card__social">
          <a href="#">
          </a>
          <a href="#">
          </a>
        </div>
      </div>
    </div>
    <div class="review__item">
      <div class="review-card">
        <div class="review-card__top">
          <div class="review-card__avatar">
            <img src="../img/avatar3.png" alt="">
          </div>
          <div class="review-card__title">
            <div class="review-card__name">
              Алексей Давыдов
            </div>
            <div class="review-card__profession">
              Предприниматель
            </div>
          </div>
        </div>
        <div class="review-card__text">
          Поддержка на высшем уровне! Отвечают не просто люди из кол-центра, а люди, которые разбираются в финансах.
        </div>
        <div class="review-card__social">
          <a href="#">
          </a>
          <a href="#">
          </a>
        </div>
      </div>
      <div class="review-card">
        <div class="review-card__top">
          <div class="review-card__avatar">
            <img src="../img/avatar4.png" alt="">
          </div>
          <div class="review-card__title">
            <div class="review-card__name">
              Клим Игнатов
            </div>
            <div class="review-card__profession">
              Предприниматель
            </div>
          </div>
        </div>
        <div class="review-card__text">
          Все понятно на интуитивном уровне. По цене это примерно в 20 раз дешевле, чем нанимать финдиректора в штат.
        </div>
        <div class="review-card__social">
          <a href="#">
          </a>
          <a href="#">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
