.action-list__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 72px;

    &:last-child {
        margin-bottom: 0;
    }
}

.action-list__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 16px;
    padding: 13px;
    background-color: $colorWhite;
    border-radius: 100%;
}

.action-list__icon svg {
    width: 22px;
    height: 22px;
}

.action-list__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

.action-list__title {
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 30px;
    color: $colorWhite;
}

.action-list__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    color: $colorWhite;
    opacity: 0.8;
}