.feauters {
    margin-top: 30px;
    background-image: url("../../img/shadow.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.feauters__item {
    position: relative;
    z-index: 1;
    max-width: 334px;
    margin-left: 134px;
    padding: 24px;
    background: linear-gradient(119.04deg, rgba(255, 255, 255, 0.91) -2.15%, rgba(255, 255, 255, 0.7) -2.15%, rgba(255, 255, 255, 0.69) 42.61%, rgba(255, 243, 243, 0.88) 98.71%);
    backdrop-filter: blur(34px);
    border-radius: 20px;

    &:nth-child(2) {
        z-index: 0;
        margin-top: -62px;
        margin-left: 40px;
    }
}

.feauters__title {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 26px;
    color: $colorDark;
}

.feauters__title svg {
    width: 85px;
    height: 19px;
}

.feauters__text {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 22px;
    color: $colorGrey;
}

.feauters__icon {
    margin-bottom: 12px;
}

.feauters__icon svg {
    width: 42px;
    height: 36px;
}

.feauters__review {
    display: flex;
    justify-content: space-between;
}

.feauters__review p {
    margin-bottom: 0;
}

.feauters__review svg {
    width: 136px;
    height: 24px;
}

.feauters__review p {
    font-size: 14px;
    line-height: 22px;
}

.feauters__data-text {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 22px;
}

.feauters__data-text span {
    display: inline-block;
    padding: 2px 17px;
    color: $colorWhite;
    background-color: $colorOrange;
    border-radius: 100px;
}