.main-title {
    margin-bottom: 16px;
    font-size: 56px;
    font-weight: 600;
    line-height: 62px;
}

.main-title--light {
    color: $colorWhite;
}

.main-title--center {
    text-align: center;
}