.order__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px;
}

.order__top-item {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;

    &:nth-child(2) {
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
    }
}

.order__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
}

.order__bottom-item {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;

    &:nth-child(2) {
        -ms-flex-preferred-size: 36%;
            flex-basis: 36%;
    }
}