.order__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
}

.order__top-item {
    flex-basis: 60%;

    &:nth-child(2) {
        flex-basis: 40%;
    }
}

.order__bottom {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.order__bottom-item {
    flex-basis: 60%;

    &:nth-child(2) {
        flex-basis: 36%;
    }
}