.pricing-plans-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.pricing-plans-list__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    list-style-type: none;
    border-right: 1px solid $colorLightGrey;

    &:last-child {
        border-right: none;
    }
}

.pricing-plans-list__btn {
    margin-bottom: 26px;
}