@import "vars";

body {
    position: relative;
    font-size: 14px;
    line-height: 16px;
    color: $colorDark;
 

}

.wrapper {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    // @media(max-width: 1300px) {
    //     max-width: 1600px;
    // }
}

a {
    text-decoration: none;
}

