<div class="order wrapper">
  <div class="order__top">
    <div class="order__top-item">
      <div class="main-title main-title--light">
        Приведем финансы
        бизнеса в порядок
      </div>
    </div>
    <div class="order__top-item">
      <div class="text text--light">
        Мы возьмем на себя всю рутину, а вы будете получать регулярные отчеты и рекомендации
        по росту компании
      </div>
    </div>
  </div>
  <div class="order__bottom">
    <div class="order__bottom-item">
        <div class="feauters">
    <div class="feauters__item">
      <div class="feauters__icon">
        <svg>
          <use xlink:href="img/sprite.svg#icon-feat1"></use>
        </svg>
      </div>
      <div class="feauters__title">
        Первое место в рейтинге и 765 отзывов 
        <svg>
          <use xlink:href="img/sprite.svg#icon-startpack"></use>
        </svg>
      </div>
      <div class="feauters__text">
        Лидер топ-100 сервисов для бизнеса
      </div>
      <div class="feauters__review">
        <svg>
          <use xlink:href="img/sprite.svg#icon-review"></use>
        </svg>
        <p>4.9 средняя оценка </p>
      </div>
    </div>
    <div class="feauters__item">
      <div class="feauters__icon">
        <svg>
          <use xlink:href="img/sprite.svg#icon-feat2"></use>
        </svg>
      </div>
      <div class="feauters__title">
        Поставили учет в 200+ компаниях в разных сферах
      </div>
      <div class="feauters__text">
        Готовы начать с вами уже сейчас
      </div>
      <div class="feauters__data">
        <p class="feauters__data-text">
            <span>16 экспертов</span> в области финансов</p>
      </div>
    </div>
  </div>
    </div>
    <div class="order__bottom-item">
        <ul class="action-list">
    <li class="action-list__items">
      <div class="action-list__icon">
        <svg>
          <use xlink:href="img/sprite.svg#icon-suitcase"></use>
        </svg>
      </div>
      <div class="action-list__info">
        <div class="action-list__title">
          Изучим ваш бизнес
        </div>
        <div class="action-list__text">
          в формате онлайн-звонков
          по Zoom или Skype
        </div>
      </div>
    </li>
    <li class="action-list__items">
      <div class="action-list__icon">
        <svg>
          <use xlink:href="img/sprite.svg#icon-gear"></use>
        </svg>
      </div>
      <div class="action-list__info">
        <div class="action-list__title">
          Поставим финучет
        </div>
        <div class="action-list__text">
          и обучим в рамках сервиса
          ПланФакт
        </div>
      </div>
    </li>
    <li class="action-list__items">
      <div class="action-list__icon">
        <svg>
          <use xlink:href="img/sprite.svg#icon-calendar"></use>
        </svg>
      </div>
      <div class="action-list__info">
        <div class="action-list__title">
          Наладим планирование
        </div>
        <div class="action-list__text">
          и сделаем ваш бизнес прозрачным и предсказуемым
        </div>
      </div>
    </li>
  </ul>
    </div>
  </div>
</div>
